<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register</title>
</head>
<body>
    <form action="/form/register" method="post">
        <p>Register</p>
        <label for="username">Username : </label>
        <input type="text" name="username" id="username" />
        <br>
        <br>
        <label for="password">Password : </label>
        <input type="password" name="password" id="password" />
        <br>
        <br>
        <label for="confirmpassword">Confirm Password : </label>
        <input type="password" name="confirmpassword" id="confirmpassword" />
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>